body {
    margin: 100px;
  }
  
  .sidebar {
    grid-area: sidebar;
 
  }
  
  .content {
    grid-area: content;

  }
  
  .header {
    grid-area: header;
 
  }
  
  .footer {
    grid-area: footer;
   
  }
  
  .wrapper {
    display: grid;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
  
   
    grid-template-columns: 300px 300px 300px;
    grid-template-areas:
      '....... header header'
      'sidebar content content'
      'footer  footer  footer';
  }
  
  .box {
    background-color: #999;
    color: #fff;
    border-radius: 40px;
    padding: 10px;
    font-size: 150%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }

